
<div id='showScore'>
<table class='sectionTable'>
	<%# プレイヤー名行  %>
	<tr class='scoreLineNames'>
		<th class='tableTitle'>種類</th>
		<% @sectionPlayers.each do |splayer| %>
		<th><%= splayer.player.name %></th>
		<% end %>
	</tr>
	<%# スコア行  %>
	<% @scoreTable.each do |gameHash| %>
		<% gameNo = gameHash[:gameNo].to_s %>
		<% trid = 'game_trid' + gameNo %>
		<tr id='<%= trid %>'>
			<td>
				<% if @show_active %>
					<%= form_tag({action: :edit},method: :post) do %>
						<%= hidden_field_tag 'mode', 'update' %>
						<%= hidden_field_tag 'gameNo', gameNo %>
						<%= button_tag @scoreKindString[gameHash[:scorekind].to_s], {class: 'kind_button'} %>
					<% end %>
				<% else %>
					<%= @scoreKindString[gameHash[:scorekind].to_s] %>
				<% end %>
			</td>

			<% gameHash[:scores].each do |score| %>
				<% if score[:score] != nil	 %>
					<td><%= minus_number_tag(score[:score].to_i, nil) %></td>
				<% else %>
					<td></td>
				<% end %>

			<% end %>


		</tr>
	<% end %>
	<tr>
		<% if @show_active %>
			<td colspan="<%= (@sectionPlayers.length + 1)%>">
			<%= form_tag({action: :edit},method: :post) do %>
				<%= hidden_field_tag 'mode', 'add' %>
				<%= button_tag 'スコア追加', {class: 'kind_button'} %>
			<% end %>
			</td>
		<% end %>
	</tr>

	<%# 合計行  %>
	<tr class='scoreLineTotals'>
		<th>合計</th>
		<% @sectionPlayers.each do |sPlayer| %>
			<% unless sPlayer.total.nil? %>
				<th><%= minus_number_tag(sPlayer.total, nil) %></th>
			<% else %>
				<th></th>
			<% end %>
		<% end%>
	</tr>
	<%# 通貨計算  %>
	<tr class='currentLines'>
		<th>ork計算</th>
		<% if @section.rate.nil? %>
			<th colspan='<%= @sectionPlayers.length -%>'>レート設定がありません</th>
		<% else %>
			<% @sectionPlayers.each do |sPlayer| %>
				<% unless sPlayer.total.nil? %>
					<% rateScore = sPlayer.total * @section.rate %>
					<th><%= minus_number_tag(rateScore, 'currency')  %></th>
				<% else %>
					<th></th>
				<% end %>
			<% end%>
		<% end %>
	</tr>
	<%# 清算ボタン %>
	<% unless @show_active %>
		<tr>
			<td>清算</td>
			<% @sectionPlayers.each do |sPlayer| %>
				<td>
					<% if sPlayer.paid %>
						<% paid_str = '済み' %>
						<% clasname = 'paid_button' %>
					<% else %>
						<% paid_str = '未清算' %>
						<% clasname = 'pay_button' %>
					<% end %>
					<%= form_tag action: :pay do %>
						<%= button_tag paid_str , data: {disable_with: '送信中...' } , class: clasname, name: :player_id, value: sPlayer.player_id.to_s %>
					<% end %>
				</td>
			<% end %>
		</tr>

	<% end %>

</table>

<%#= debug(@scoreTable) %>


</div> <!-- showScore -->


