
<div class='editScores'>
<h1><%= @subtitle %></h1>

<%#= debug(@gameKindString) %>
<%#= debug(@gameHash) %>

<% form_url = (@mode == 'add') ?  {action: :add} : {action: :update} %>
<%= form_tag form_url , id: 'form_edit' do %>
	<%= hidden_field_tag 'gameNo', @gameHash[:gameNo] %>

	<div class='selectKinds'>
	   	<h2>種類を選択して下さい</h2>
		<% @gameKindString.each do |key, value| %>
			<% if @gameHash[:kind] != nil && @gameHash[:kind] == key.to_i %>
				<% checked = true %>
			<% else %>
				<% checked = false %>
			<% end %>
			<%= radio_button_tag :kind, key, checked %>
			<%= label_tag 'kind_' + key, value %>
		<% end %>
	</div>

	<div class='inputScores'>
	<h2>点数を入力してください</h2>
	<% @gameHash[:scores].each do |game| %>
		<% input_id = "inputId" + String(game[:p_id]) %>
		<% input_name = "input[" + String(game[:p_id]) + "]" %>
		<div class='input_score'>
			<span class='inputScoreSpan'><%= game[:p_name] -%></span>
			<%= number_field_tag(input_name, game[:score], id: input_id) %>
			<%= button_tag '合計0' , type: 'button' , id: 'remindId'+String(game[:p_id])  %>
		</div>
	<% end %>
	<p class='inputScoreSum'>合計スコア<span id='inScoreSumSpan'>0</span></p>
	</div>


	<% if @mode == 'add' %>
		<%= button_tag 'スコア追加' , data: {disable_with: '送信中...' } ,  type: :button,onclick: 'onclick_submit(this)' , class: 'sqr_button' %>
	<% else %>
		<%= button_tag 'スコア修正' , data: {disable_with: '送信中...' } , type: :button,onclick: 'onclick_submit(this)', class: 'sqr_button', name: :mode, value: :update  %>

		<%= button_tag 'スコア削除' , data: {disable_with: '送信中...', confirm: 'このスコアを削除してよろしいですか？'} , class: 'sqr_button', name: :mode, value: :delete , formaction: delete_room_playing_path %>

	<% end %>

<% end %>
<br>
<br>
<p>
<%= link_to '戻る', :back %>
</p>
</div>

<script>
const player_ids = <%= @player_ids.to_json %>;

var inputElements = [];
var remindElements = [];
var formElement = document.getElementById('form_edit')
var inScoreSumElement = document.getElementById('inScoreSumSpan');

player_ids.forEach(function(player_id){

	var input = document.getElementById('inputId' + player_id)
	inputElements.push(input)

	input.addEventListener('input', function(){
		calcInputScore()
	})

	var remind = document.getElementById('remindId' + player_id)
	remindElements.push(remind)
	remind.addEventListener('click', function(){
		setTotalZero(this.id)
	})
})

calcInputScore()




function onclick_submit(btn){
	console.log('click submit')

	var radioNodeList = formElement.kind
	var value = radioNodeList.value

	if(value == ''){
		// 未選状態
		alert('種類を選択して下さい')
		return
	}

	var invalid = false
	var input_count = 0
	inputElements.forEach(function(element){
		if (element.value != ''){
			input_count++
		}
	})


	if(input_count == 0) {
		alert('スコアを入力して下さい')
		return
	}

	if((value == 0) && (input_count != 4)) {
		alert('４人分のスコアを入力してください')
		return
	}

	if((value == 1) && (input_count != 3)) {
		alert('３人分のスコアを入力してください')
		return
	}

	if(inScoreSumElement.textContent != '0'){
		alert('合計スコアを0にしてください')
		return
	}

	btn.disabled = true
	btn.innerHTML = '送信中'

	formElement.submit()

}


function calcInputScore(){

	var sum = 0;

	inputElements.forEach(function(obj){
		var value = obj.value;
		num = parseInt(value)
		if (!isNaN(num)){
			sum += num;
		}

	});
	console.log("sum:" + sum);
	
	inScoreSumElement.innerHTML = "";
	inScoreSumElement.textContent = String(sum);
	if(sum < 0){
		inScoreSumElement.style.color = "red";
	} else{
		inScoreSumElement.style.color = "black";
	}

}

function setTotalZero(buttonId){

	var id = buttonId.substr("remindId".length);
	var inputId = "inputId" + id;
	console.log(inputId);

	var sum = 0;

	inputElements.forEach(function(element){
		if(element.id != inputId){
			// クリックしたボタンの入力値は無視
			value = element.value;
			num = parseInt(value)
			if (!isNaN(num)){
				sum += num;
			}
		}
	});

	var input = document.getElementById(inputId);
	input.value = String(-sum);

	calcInputScore()
}



</script>