<div class='showScore'>

<p>開始時刻  <%= @section.created_at.strftime("%Y/%m/%d %H:%M") %></p>
<p>終了時刻  <%= @section.finished_at.strftime("%Y/%m/%d %H:%M") %></p>
<% rateStr = @section.rate.nil? ? 'なし' : @section.rate.to_s %>
<p>現在のレート  <%= rateStr %> </p>
<p>ゲームの種類： <%= Section::GameKindString[@section.gamekind] %> </p>


<%= render 'scoreTable' %>

<br>
<br>
<p>
<%= form_tag({action: :pay_all},method: :get) do %>
	<%= button_tag 'すべての清算を完了にする', {class: "sqr_button"} %>
<% end %>
</p>
<br>
<hr>
<%= render 'rankTable'  %>
<br>
<hr>
<%= render 'comments'  %>
<br>
<p>
<% if @show_restart %>
	<%= form_tag({action: :restart},method: :get) do %>
		<%= button_tag 'スコアを修正可能にする', {class: "sqr_button" ,data: {confirm: "本当に修正可能にしますか"}} %>
	<% end %>
<% end %>
</p>
<br>
<p>
<% if @show_destroy %>
	<%= form_tag({action: :destroy},method: :get) do %>
		<%= button_tag 'スコアテーブルを削除する', {class: "sqr_button" ,data: {confirm: "本当に修正可能にしますか？この操作は戻せません"}} %>
	<% end %>
<% end %>
</p>
</div>