<noscript>
	JavaScript設定が無効になっています。<br>
	このサイトはJavaScriptが有効でないとと正しく動作しません
</noscript>

<div class='showScore'>

<p>開始時刻： <%= @section.created_at.strftime("%Y/%m/%d %H:%M") %></p>
<% rateStr = @section.rate.nil? ? 'なし' : @section.rate.to_s %>
<p>現在のレート： <%= rateStr %> </p>
<p>ゲームの種類： <%= Section::GameKindString[@section.gamekind] %> </p>

<p>
<%= form_tag({action: :editPlayer},method: :post) do %>
	<%= button_tag 'メンバー or レート変更', {class: 'sqr_button'} %>
<% end %>

<%= render 'scoreTable' %>
</p>
<p>
<%= form_tag({action: :finish},method: :get) do %>
	<p>ゲーム終了後(清算時)下のボタンを押して下さい</p>
	<%= button_tag 'ゲーム終了', {class: 'sqr_button',data: {confirm: "本当に終了しますか？"}} %>
<% end %>
</p>
<br>

<%= render 'comments'  %>
<br>

<%= render 'rankTable'  %>

<p>
<% if @show_destroy %>
	<%= form_tag({action: :destroy},method: :get) do %>
		<%= button_tag 'スコアテーブルを削除する', {class: "sqr_button" ,data: {confirm: "本当に修正可能にしますか？この操作は戻せません"}} %>
	<% end %>
<% end %>
</p>

</div>
