<p id="notice"><%= notice %></p>

<p>
  <strong>Section_id:</strong>
  <%= @comment.section_id %>
</p>

<p>
  <strong>Player_id:</strong>
  <%= @comment.player_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
