<h1>管理者用ページ</h1>

<p>
<%= link_to '新規ユーザ作成', action: :newUser %>
</p>

<p>
<%= link_to 'ユーザーパスワード変更', action: :editUser %>
</p>

<p>
<%= link_to '新規グループ作成', action: :newGroup %>
</p>

<p>
<%= link_to '新規プレイヤー作成', action: :newPlayer %>
</p>


<p>
<%= link_to 'トップに戻る', top_path %>
</p>