<h1>管理者用ページ</h1>

<p>
<%= link_to '新規ユーザ作成', action: :newUser %>
</p>

<p>
<%= link_to 'ユーザーパスワード変更', action: :editUser %>
</p>

<p>
<%= link_to '新規グループ作成', action: :newGroup %>
</p>

<p>
<%= link_to '新規プレイヤー作成', action: :newPlayer %>
</p>

<p>
<%= link_to 'プレイヤー情報の変更', action: :editPlayer %>
</p>
<hr>
<ul>DB管理へ
<li><%= link_to 'Sections', sections_path %></li>
<li><%= link_to 'Games', games_path %></li>
<li><%= link_to 'Scores', scores_path %></li>
<li><%= link_to 'SectionPlayers', section_players_path %></li>
<li><%= link_to 'users', users_path %></li>
<li><%= link_to 'groups', groups_path %></li>
<li><%= link_to 'players', players_path %></li>
<li><%= link_to 'logs', logs_path %></li>
<li><%= link_to 'comments', comments_path %></li>
</ul>

<hr>
<p>
<%= link_to 'トップに戻る', top_path %>
</p>