<div class='room'>

<h1><font color='red'><%= @group.name %></font>へようこそ</h1>
<div class='new_game'>
	<%= link_to  new_room_playing_path(@g_idname) do %>
		<span>新しくゲームを始める</span>
	<% end %>
</div>

<div>
	<hr>
	<h2>対局中のゲーム</h2>
	<% if @now_count > 0 %>
		<%= render 'scoreTable', playing_sections: @playing_sections, player_cnt: @player_cnt, time_kind: 'created' %>
	<% else %>
		<p>現在対局中のゲームはありません</p>
	<% end %>


	<hr>
	<h2>未清算のある対局</h2>
	<% if @no_paid_count > 0 %>
		<%= render 'scoreTable', playing_sections: @no_paid_sections, player_cnt: @no_paid_player_cnt, time_kind: 'finished' %>
	<% else %>
		<p>未清算のゲームはありません</p>
	<% end %>



	<hr>
	<h2>最近終了した対局</h2>

	<% if @past_count > 0 	%>
		<%= render 'scoreTable', playing_sections: @past_sections, player_cnt: @past_player_cnt, time_kind: 'finished' %>
		<%= link_to '終了した対局の続きを見る' ,action: :past %>
	<% else %>
		<p>最近終了したゲームはありません</p>
	<% end %>

</div>
<br>

<hr>

<h2>
    <% if @show_new_icon %>
      <%= link_to('更新履歴', room_history_path, {class: "new_icon_after"}) %>
    <% else %>
      <%= link_to('更新履歴', room_history_path) %>
    <% end %>
</h2>

<h2>
	<%= link_to 'ランキング', room_ranking_path(params[:g_idname]) %>
</h2>

<h2>
	<%= link_to 'プレイヤー個人成績', room_playerscored_path(params[:g_idname]) %>
</h2>

<% if session[:usr_per] != User::Permission::GUEST  %>
<h2>
	<%= link_to 'あなたの集計結果', {controller: :personal,action: :profit} %>
</h2>
<% end %>


<h2>
	<%= link_to 'ルーム設定', config_room_path(params[:g_idname]) %>
</h2>

</div>