<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="field">
    <%= form.label :games_count %>
    <%= form.number_field :games_count %>
  </div>

  <div class="field">
    <%= form.label :section_players_count %>
    <%= form.number_field :section_players_count %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :all_paid %>
    <%= form.check_box :all_paid %>
  </div>

  <div class="field">
    <%= form.label :finished_at %>
    <%= form.datetime_field :finished_at %>
  </div>

  <div class="field">
    <%= form.label :gamekind %>
    <%= form.number_field :gamekind %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
