<div class='myscaffold'>
<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Rate</th>
      <th>Games_count</th>
      <th>Section_players_count</th>
      <th>Group</th>
      <th>All_paid</th>
      <th>Finished_at</th>
      <th>Gamekind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.id %></td>
        <td><%= section.status %></td>
        <td><%= section.rate %></td>
        <td><%= section.games_count %></td>
        <td><%= section.section_players_count %></td>
        <td><%= section.group_id %></td>
        <td><%= section.all_paid %></td>
        <td><%= section.finished_at %></td>
        <td><%= section.gamekind %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
</div>