<div id='ranks_triger'>
<%= form_tag({action: :result_ranks_ranking}, remote: true) do %>
	<%= hidden_field_tag 'date', @time_jst  %>
	<%= button_tag "拡張ランキングを表示する" , data: {disable_with: '計算中......' } , class: "sqr_button" %>
	<p style="font-size:50%;">表示には時間がかかる可能性があります</p>
<% end %>
</div>

<% rankings.each_with_index do |ranking, idx| %>

<hr>

<h3><%= ranking[:title] %>の成績１</h3>

<table class='total_ranking'>
	<tr>
		<th rowspan='2'>順位</th>
		<th colspan='2'>
			<span class="help">総合得点<br>(チップ有)</span>
			<p class="help_popup">
				総合得点(チップ有)<br><br>
				チップを含めたすべてのスコアの合計のランキングです
			</p>
		</th>
		<th colspan='2'>
			<span class="help">総合得点<br>(チップ無)</span>
			<p class="help_popup">
				総合得点(チップ無)<br><br>
				チップを含めないすべてのスコアの合計のランキングです
			</p>
		</th>
		<th colspan='2'>
			<span class="help">チップ合計<br>(総チップ)</span>
			<span class="help_popup">
				チップ合計(総チップ)<br><br>
				チップのみの合計のランキングです
			</span>
		</th>
		<th colspan='2'>
			<span class="help">総対局数<br>(チップ無)</span>
			<span class="help_popup">
				総対局数(チップ無)<br><br>
				対局数の合計のランキングです(チップの入力は含みません)
			</span>
		</th>
	</tr>
	<tr>
		<th>名前</th><th>スコア</th>
		<th>名前</th><th>スコア</th>
		<th>名前</th><th>スコア</th>
		<th>名前</th><th>対局数</th>
	</tr>

	<% ranking_count.times do |rank| %>
		<tr>
			<td><%= (rank+1) -%>位</td>
			<% if ranking[:rank_totalscores][rank] != nil %>
				<td><%= ranking[:rank_totalscores][rank].name %></td>
				<td><%= ranking[:rank_totalscores][rank].sum_total %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
			<% if ranking[:rank_no_chip_scores][rank] != nil %>
				<td><%= ranking[:rank_no_chip_scores][rank].name %></td>
				<td><%= ranking[:rank_no_chip_scores][rank].sum_total %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
			<% if ranking[:total_chips][rank] != nil %>
				<td><%= ranking[:total_chips][rank].name %></td>
				<td><%= ranking[:total_chips][rank].sum_chip %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
			<% if ranking[:rank_counts][rank] != nil %>
				<td><%= ranking[:rank_counts][rank].name %></td>
				<td><%= ranking[:rank_counts][rank].count_score %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
		</tr>
	<% end %>


</table>
<br>

<h3><%= ranking[:title] %>の成績２</h3>
<table class='total_ranking'>
	<tr>
		<th rowspan='2'>順位</th>
		<th colspan='2'>
			<span class="help">最高スコア<br>(チップ無)</span>
			<p class="help_popup">
				最高スコア(チップ無)<br><br>
				一度の対局（半荘）の最高のスコアのランキングです
			</p>
		</th>
		<th colspan='2'>
			<span class="help">最高スコア<br>(集計内合計)</span>
			<p class="help_popup">
				最高スコア(集計内合計)<br><br>
				ゲーム集計（複数半荘）の合計最高スコアのランキングです
			</p>
		</th>

		<th colspan='2'>
			<span class="help">平均スコア<br>(チップ無)</span>
			<p class="help_popup">
				平均スコア(チップ無)<br><br>
				チップを含めないすべてのスコアの合計を対局数で割った値のランキングです
			</p>
		</th>
		<th colspan='2'>
			<span class="help">最高チップ<br>(集計内合計)</span>
			<p class="help_popup">
				最高スコア(チップ無)<br><br>
				ゲーム集計（複数半荘）の合計最高チップのランキングです
			</p>
		</th>
	</tr>
	<tr>
		<th>名前</th><th>スコア</th>
		<th>名前</th><th>スコア</th>
		<th>名前</th><th>スコア</th>
		<th>名前</th><th>スコア</th>
	</tr>
	<% ranking_count.times do |rank| %>
		<tr>
			<td><%= (rank+1) -%>位</td>
			<% if ranking[:max_scores][rank] != nil %>
				<td><%= ranking[:max_scores][rank].name %></td>
				<% url = room_playing_path(params[:g_idname], ranking[:max_scores][rank].section_id) %>
				<td><%= link_to(ranking[:max_scores][rank].score, url) %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
			<% if ranking[:max_total_scores][rank] != nil %>
				<td><%= ranking[:max_total_scores][rank].name %></td>
				<% url = room_playing_path(params[:g_idname], ranking[:max_total_scores][rank].section_id) %>
				<td><%= link_to(ranking[:max_total_scores][rank].sum_score, url) %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
			<% if ranking[:rank_avgs][rank] != nil %>
				<td><%= ranking[:rank_avgs][rank].name %></td>
				<td><%= ranking[:rank_avgs][rank].avg_score.truncate(2) %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
			<% if ranking[:max_chips][rank] != nil %>
				<td><%= ranking[:max_chips][rank].name %></td>
				<% url = room_playing_path(params[:g_idname], ranking[:max_chips][rank].section_id) %>
				<td><%= link_to(ranking[:max_chips][rank].sum_chip, url) %></td>
			<% else %>
				<td></td><td></td>
			<% end %>
		</tr>
	<% end %>


</table>

<% idname = "ranks_ranking_#{idx}" %>
<% aname = "name_ranks_ranking_#{idx}" %>
<div id = <%= idname %>></div>

<% end %><%# rankings.each %>
