<div class='ranking_top'>

<h1>ランキング</h1>

<hr>
<h2>総合ランキング</h2>
<%= render 'simpleRankingTable', ranking: @total_rankings[0], ranking_count: @simple_ranking_count %>

<div>
<%= link_to '総合ランキングの続きを見る', action: :total %>
</div>

<hr>

<h2>今月(<%= @this_month %>)のランキング（暫定）</h2>
<%= render 'simpleRankingTable', ranking: @this_rankings[0], ranking_count: @simple_ranking_count %>

<div>
<%= link_to '今月のランキングの続きを見る', action: :thisMonth %>
</div>

<hr>

<h2>先月(<%= @last_month %>)のランキング</h2>
<%= render 'simpleRankingTable', ranking: @last_rankings[0], ranking_count: @simple_ranking_count %>

<div>
<%= link_to '先月のランキングの続きを見る', action: :lastMonth %>
</div>

<hr>
<h2>過去のランキング</h2>
<div>
<%= link_to '過去のランキングを見る', action: :past %>
</div>

<hr>


<h2>
	<%= link_to 'ルームトップに戻る', room_path(params[:g_idname]) %>
</h2>

</div>