<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.number_field :section_id %>
  </div>

  <div class="field">
    <%= form.label :game_no %>
    <%= form.number_field :game_no %>
  </div>

  <div class="field">
    <%= form.label :scorekind %>
    <%= form.number_field :scorekind %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
