<div class='login'>

<p><font color='Red'><%= @error %></font></p>

<%= form_tag action: :auth do %>
	<div class="field">
		<%= label_tag :username, 'ユーザー名' %>
		<%= text_field_tag :username, '' , size: 20 %>
	</div>
	<div class="field">
		<%= label_tag :password, 'パスワード' %>
		<%= password_field_tag  :password, '' , size: 20 %>
	</div>

	<%= hidden_field_tag :reffer, flash[:reffer] %>
	<%= button_tag 'ログイン', class: 'sqr_button' %>

<% end %>
</div>