<div class='user_profit' >
<h1><%= @user.username %>さんの集計結果</h1>
<div class='commnts'>
※ 所属するすべてのルームの合計が表示されます
</div>

<h3>全合計</h3>

<% if @profit_totals.length > 0 %>

<table>
	<tr>
		<th>ルーム</th>
		<th>スコア合計</th>
		<th>レート換算</th>
		<th>対局数</th>
	</tr>
	<% @profit_totals.each do |profit_total| %>
	<tr>
		<td><%= profit_total.group.name %></td>
		<td><%= minus_number_tag(profit_total.sum_score, nil)  %></td>
		<td><%= minus_number_tag(profit_total.sum_profit, 'currency') %></td>
		<td><%= profit_total.count_game %></td>
	</tr>
	<% end %>

</table>
<% if @no_rate_sections.length > 0 %>
	注意！レート設定されていないゲームがあります<a href='#no_rate'>(Link)</a><br>
	この結果にレート設定のないゲームは含まれていません
<% end %>
<% else %>
	スコアはありません
<% end %>

<hr>


<h3>月毎の集計</h3>

<% if @profit_months.length > 0 %>

<table>
	<tr>
		<th>年/月</th>
		<th>ルーム</th>
		<th>スコア合計</th>
		<th>レート換算</th>
		<th>対局数</th>
	</tr>
	<% @profit_months.each do |profit_month| %>
		<tr>
			<td><%= profit_month.monthly %></td>
			<td><%= profit_month.group.name %></td>
			<td><%= minus_number_tag(profit_month.sum_score, nil)  %></td>
			<td><%= minus_number_tag(profit_month.sum_profit, 'currency') %></td>
			<td><%= profit_month.count_game %></td>
		</tr>
	<% end %>
</table>
<% else %>
	スコアはありません
<% end %>


<hr>

<h3>日付毎の集計</h3>

<% if @profit_dailys.length > 0 %>
<table>
	<tr>
		<th>終了日</th>
		<th>ルーム</th>
		<th>スコア合計</th>
		<th>レート換算</th>
		<th>対局数</th>
	</tr>
	<% @profit_dailys.each do |profit_daily| %>
		<tr>
			<td><%= profit_daily.daily %></td>
			<td><%= profit_daily.group.name %></td>
			<td><%= minus_number_tag(profit_daily.sum_score, nil)  %></td>
			<td><%= minus_number_tag(profit_daily.sum_profit, 'currency') %></td>
			<td><%= profit_daily.count_game %></td>
		</tr>
	<% end %>
</table>
<% else %>
	スコアはありません
<% end %>

<hr>
<h3 id="no_rate">レート指定の無いゲーム</h3>
<% if @no_rate_sections.length > 0 %>
<table>
	<tr>
		<th>ゲーム終了日</th>
		<th>ルーム</th>
		<th>スコア</th>
		<th>対局数</th>
	</tr>
	<% @no_rate_sections.each do |section| %>
		<tr>
			<td>
				<%= link_to room_playing_path(section.group.idname, section.section_id) do %>
					<%= section.finished_at.strftime("%Y/%m/%d") %>
				<% end %>
			</td>
			<td><%= section.group.name %></td>
			<td><%= minus_number_tag(section.sum_score, nil) %></td>
			<td><%= section.count_game %></td>
		</tr>
	<% end %>
</table>
<% else %>
	ありません
<% end %>

<hr>
<h4>
	<%= link_to '戻る', :back %>
</h4>

</div>

