<div class='playersocred'>

<h1>プレイヤー対戦成績</h1>

<%= form_tag({action: :scoredvs}, method: :get, id: 'form_select_player') do %>
		<% @player_results.length.times do |p_num| %>
			<p>
			<%= label_tag "player_id#{p_num}", "プレイヤー#{(p_num + 1)}選択" %>
			<%= collection_select(:player, "id#{p_num}", @players, :id, :name, {include_blank: '指定なし', selected: @player_results[p_num][:id]}, onchange: 'changeSelectPlayer(this)') %>
			</p>
		<% end %>
<% end %>

※ 複数のプレイヤーを選択すると、同時にプレイした対局のみ表示・集計されます

<hr>

<% if @select_flag %>

<table class='scoredvsTable1'>
	<captain>合計スコア</captain>
	<tr>
		<th>プレイヤー</th>
		<th>合計</th>
		<th>四麻</th>
		<th>三麻</th>
		<th>チップ</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<% if p_result[:total_score] >= 0  %>
					<td><%= p_result[:total_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:total_score] %></span></td>
				<% end %>
				<% if p_result[:m4_score] >= 0  %>
					<td><%= p_result[:m4_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m4_score] %></span></td>
				<% end %>
				<% if p_result[:m3_score] >= 0  %>
					<td><%= p_result[:m3_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m3_score] %></span></td>
				<% end %>
				<% if p_result[:chip_score] >= 0  %>
					<td><%= p_result[:chip_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:chip_score] %></span></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>

<br>



<table class='scoredvsTable1'>
	<captain>四麻の順位数</captain>
	<tr>
		<th>プレイヤー</th>
		<th>対局数</th>
		<th>１位</th>
		<th>２位</th>
		<th>３位</th>
		<th>４位</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<td><%= @m4_games.length %></td>
				<% p_result[:m4_ranks].each do |count| %>
					<td><%= count %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>

</table>

<br>

<table class='scoredvsTable1'>
	<captain>三麻の順位数</captain>
	<tr>
		<th>プレイヤー</th>
		<th>対局数</th>
		<th>１位</th>
		<th>２位</th>
		<th>３位</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<td><%= @m3_games.length %></td>
				<% p_result[:m3_ranks].each do |count| %>
					<td><%= count %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>


<br>

<hr>

<% player_ids = [] %>
<% @player_results.each {|p_result| player_ids.push(p_result[:id]) } %>

<h4>四麻の戦績</h4>
<% if @m4_games.length > 0 %>
	<%#= render 'scoredTable' , rank_count: 4, games: @m4_games ,player_id1: @player_results[0][:id], player_id2: @player_results[1][:id] %>
	<%= render 'scoredTable' , rank_count: 4, games: @m4_games ,player_ids: player_ids %>
<% else %>
	四麻の戦績はありません
<% end %>

<hr>



<h4>三麻の戦績</h4>
<% if @m3_games.length > 0 %>
	<%= render 'scoredTable' , rank_count: 3, games: @m3_games ,player_ids: player_ids %>
<% else %>
	三麻の戦績はありません
<% end %>

<hr>

<% end %><%# @select_flag %>

<h2>
	<%= link_to '個人成績トップに戻る', action: :index %>
</h2>

</div>

<script>
	formElement = document.getElementById('form_select_player')

	function changeSelectPlayer(obj){
		var idx = obj.selectedIndex;
		var value = obj.options[idx].value;
		console.log(value);
		formElement.submit()
	}
</script>
