<div class='playersocred'>

<h1>プレイヤー対戦成績</h1>

<%= form_tag({action: :scoredvs}, method: :get, id: 'form_select_player') do %>
		<% @player_results.length.times do |p_num| %>
			<p>
			<%= label_tag "player_id#{p_num}", "プレイヤー#{(p_num + 1)}選択" %>
			<%= collection_select(:player, "id#{p_num}", @players, :id, :name, {include_blank: '指定なし', selected: @player_results[p_num][:id]}, onchange: 'changeSelectPlayer(this)') %>
			</p>
		<% end %>
<p>
	<%= label_tag :date_check_start, '集計開始日時' %>
	<%= check_box :date_check, :start, {checked: @checkedStart, id: :date_check_start ,onchange: "onchangeCheckbox(this,'start')"} %>
	<%= date_field(:date, :start, {disabled: !(@checkedStart), value: @date_start,onblur: "changeDate(this, 'start')"})  %>
</p>
<p>
	<%= label_tag :date_check_end, '集計終了日時' %>
	<%= check_box :date_check, :end, {checked: @checkedEnd, id: :date_check_end ,onchange: "onchangeCheckbox(this,'end')"} %>
	<%= date_field(:date, :end, {disabled: !(@checkedEnd), value: @date_end, onblur: "changeDate(this, 'end')"})  %>
</p>

<div class='comments'>
※ 複数のプレイヤーを選択すると、同時にプレイした対局のみ表示・集計されます<br>
※ 集計開始日時は指定した日付の12:00(正午)から、集計終了日時は指定した日付の次の日の11:59までに'ゲーム終了'を行ったゲームのみを集計します。
(半荘のデータを入力していても'ゲーム終了'を行っていない限り集計されません)
<br>
例) 開始を2018/8/1、 終了を8/31にした場合、8/1 12:00 ～ 9/1 11:59を集計します
</div>

<% end %>

<hr>

<% if @select_flag %>

<table class='scoredvsTable1'>
	<captain>四麻合計スコア</captain>
	<tr>
		<th>プレイヤー</th>
		<th>合計</th>
		<th>四麻</th>
		<th>チップ</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<% if p_result[:m4_total] >= 0  %>
					<td><%= p_result[:m4_total] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m4_total] %></span></td>
				<% end %>
				<% if p_result[:m4_score] >= 0  %>
					<td><%= p_result[:m4_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m4_score] %></span></td>
				<% end %>
				<% if p_result[:m4_chip_score] >= 0  %>
					<td><%= p_result[:m4_chip_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m4_chip_score] %></span></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>

<br>



<table class='scoredvsTable1'>
	<captain>四麻の順位数</captain>
	<tr>
		<th>プレイヤー</th>
		<th>対局数</th>
		<th>１位</th>
		<th>２位</th>
		<th>３位</th>
		<th>４位</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<td><%= @m4_games.length %></td>
				<% p_result[:m4_ranks].each do |count| %>
					<td><%= count %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>

</table>

<br>

<table class='scoredvsTable1'>
	<captain>三麻合計スコア</captain>
	<tr>
		<th>プレイヤー</th>
		<th>合計</th>
		<th>三麻</th>
		<th>チップ</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<% if p_result[:m3_total] >= 0  %>
					<td><%= p_result[:m3_total] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m3_total] %></span></td>
				<% end %>
				<% if p_result[:m3_score] >= 0  %>
					<td><%= p_result[:m3_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m3_score] %></span></td>
				<% end %>
				<% if p_result[:m3_chip_score] >= 0  %>
					<td><%= p_result[:m3_chip_score] %></td>
				<% else %>
					<td><span class='minus_number' ><%= p_result[:m3_chip_score] %></span></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>

<br>

<table class='scoredvsTable1'>
	<captain>三麻の順位数</captain>
	<tr>
		<th>プレイヤー</th>
		<th>対局数</th>
		<th>１位</th>
		<th>２位</th>
		<th>３位</th>
	</tr>
	<% @player_results.each do |p_result| %>
		<% unless p_result[:id].nil? %>
			<tr>
				<td><%= p_result[:name] %></td>
				<td><%= @m3_games.length %></td>
				<% p_result[:m3_ranks].each do |count| %>
					<td><%= count %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>


<br>

<hr>

<% player_ids = [] %>
<% @player_results.each {|p_result| player_ids.push(p_result[:id]) } %>

<h4>四麻の戦績</h4>
<% if @m4_games.length > 0 %>
	<%#= render 'scoredTable' , rank_count: 4, games: @m4_games ,player_id1: @player_results[0][:id], player_id2: @player_results[1][:id] %>
	<%= render 'scoredTable' , rank_count: 4, games: @m4_games ,player_ids: player_ids %>
<% else %>
	四麻の戦績はありません
<% end %>

<hr>



<h4>三麻の戦績</h4>
<% if @m3_games.length > 0 %>
	<%= render 'scoredTable' , rank_count: 3, games: @m3_games ,player_ids: player_ids %>
<% else %>
	三麻の戦績はありません
<% end %>

<hr>

<% end %><%# @select_flag %>

<h2>
	<%= link_to '個人成績トップに戻る', action: :index %>
</h2>

</div>

<script>
	var formElement = document.getElementById('form_select_player')
	var selectPlayerElement = document.getElementById('player_id')
	var checkStartElement = document.getElementById('date_check_start')
	var checkEndElement = document.getElementById('date_check_end')
	var dateStartElement = document.getElementById('date_start')
	var dateEndElement = document.getElementById('date_end')

	var bak_date_start = dateStartElement.value
	var bak_date_end = dateEndElement.value

	function changeSelectPlayer(obj){
		var idx = obj.selectedIndex;
		var value = obj.options[idx].value;
		console.log(value);
		changeDateSubmit()
	}



	function onchangeCheckbox(obj, kind){
		console.log(kind);
		console.log(obj.checked);
		if(kind == 'start'){
			if(obj.checked){
				dateStartElement.disabled = false
			}else{
				dateStartElement.disabled = true
				startDate = dateStartElement.value
				if (startDate){
					// チェック状態が外れた時間が入力されていたら解除ということでsubmitする
					changeDateSubmit()
				}
			}
		}else if(kind == 'end'){
			if(obj.checked){
				dateEndElement.disabled = false
			}else{
				dateEndElement.disabled = true
				endDate = dateEndElement.value
				if (endDate){
					// チェック状態が外れた時間が入力されていたら解除ということでsubmitする
					changeDateSubmit()
				}
			}
		}
	}

	function changeDate(obj, kind){
		console.log(kind);
		console.log(obj.value);

		if (kind == 'start'){
			if (bak_date_start == obj.value){
				return
			}
			bak_date_start = obj.value

		}else{
			if (bak_date_start == obj.value){
				return
			}
			bak_date_end = obj.value
		}


		changeDateSubmit()
	}

	function changeDateSubmit(){
		startDate = dateStartElement.value
		endDate = dateEndElement.value

		if (checkStartElement.checked && startDate
			&& checkEndElement.checked && endDate){
				if (startDate > endDate){
					alert('集計終了日時は集計開始日時より遅くしてください')
					return
				}
		}
		console.log('submitします');
		formElement.submit()

	}
</script>
