<div class='playersocred'>

<h1>プレイヤー個人成績</h1>

<%= form_tag({action: :result_scored}, id: 'form_select_player') do %>
<p>
	<%= label_tag :player_id, 'プレイヤー選択' %>
	<%= collection_select(:player, :id, @players, :id, :name, {include_blank: '選択してください'}) %>
</p>

<p>
	<%= label_tag :date_check_start, '集計開始日時' %>
	<%= check_box :date_check, :start %>
	<%= date_field(:date, :start, {disabled: true}) %>
</p>
<p>
	<%= label_tag :date_check_end, '集計終了日時' %>
	<%= check_box :date_check, :end %>
	<%= date_field(:date, :end, {disabled: true})  %>
</p>

<div class='comments'>
※ 集計開始日時は指定した日付の12:00(正午)から、集計終了日時は指定した日付の次の日の11:59までに'ゲーム終了'を行ったゲームのみを集計します。
(半荘のデータを入力していても'ゲーム終了'を行っていない限り集計されません)
<br>
例) 開始を2018/8/1、 終了を8/31にした場合、8/1 12:00 ～ 9/1 11:59を集計します
</div>
<% end %>

<%# 非同期通知でデータを取得 %>
<div id='result'></div>

</div>

<script>


function init(){

	console.log("init")
	var bak_date_start = $('#date_start').val()
	var bak_date_end = $('#date_end').val()

	$('select').change(function(){
		console.log($(this).attr('id'))
		console.log($(this).val())

		ajax_submit()
	})

	$('#date_check_start').change(function(){
		console.log($(this).attr('id'))
		console.log($(this).prop('checked'))

		// チェックボックスと日付入力を合わせる
		$('#date_start').prop('disabled', !($(this).prop('checked')))

		if($('#date_start').val()){
			ajax_submit()
		}
	})

	$('#date_check_end').change(function(){
		console.log($(this).attr('id'))
		console.log($(this).prop('checked'))

		// チェックボックスと日付入力を合わせる
		$('#date_end').prop('disabled', !($(this).prop('checked')))

		if($('#date_end').val()){
			ajax_submit()
		}
	})

	$('#date_start').blur(function(){
		console.log($(this).val())
		console.log($(this).attr('id'))
		if(bak_date_start != $(this).val()){
			// 日付変更があった場合のみ
			bak_date_start = $(this).val()
			ajax_submit()
		}
	})

	$('#date_end').blur(function(){
		console.log($(this).val())
		console.log($(this).attr('id'))
		if(bak_date_end != $(this).val()){
			// 日付変更があった場合のみ
			bak_date_end = $(this).val()
			ajax_submit()
		}
	})

	function ajax_submit(){
		console.log("ajax_submit")

		if(!($('#player_id').val())){
			return
		}

		var date_start = $('#date_start').val()
		var date_end = $('#date_end').val()

		if($('#date_check_start').prop('checked') && date_start
			&& $('#date_check_end').prop('checked') && date_end){
			console.log('check date')
			if (date_start > date_end){
				alert('集計終了日時は集計開始日時より遅くしてください')
				return
			}
		}

		console.log("go ajax_submit")

		$.ajax(
			{
				url: $('form').attr('action'),
				type: $('form').attr('method'),
				data: $('form').serialize(),
				dataType: 'script',
				timeout: 15000,	// 15秒
				beforeSend: function(){
					console.log("通信中...")
					$('#result').html("<hr> <i class='fas fa-spinner fa-spin'></i> Now Loading.....")
				}
			}
		)
		.done(function(data){
			console.log("ajax success!!!");
		})
		.fail(function(data){
			console.log("ajax fail!!!");
			$('#result').html("エラーが発生しました")
		})
	}
}

$(document).ready(init)
$(document).on('page:change', init)


</script>
