<p id="notice"><%= notice %></p>

<p>
  <strong>Section_id:</strong>
  <%= @log.section_id %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @log.user_id %>
</p>

<p>
  <strong>Log:</strong>
  <%= @log.log %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
