<!DOCTYPE html>
<html>
  <head>
    <title><%= @main_title.blank? ? Jansco : @main_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Font Awesome Link %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>

  <body>

    <header class='room_header'>
      <%= link_to room_path do  %>
        <i class='fas fa-home room_header_icon'></i>
      <% end %>
      <i class='fas fa-arrow-left room_header_icon' onclick="history.back()"></i>
      <i class='fas fa-arrow-right room_header_icon' onclick="history.forward()"></i>
      <a href="#top"><i class="fas fa-arrow-up room_header_icon"></i></a>
      <a href="#page_end"><i class="fas fa-arrow-down room_header_icon"></i></a>
      <i class="fas fa-sync-alt room_header_icon" onclick="location.reload()"></i>
    </header>

    <div class="room_navi">
    <ul class="nav">
      <li><%= link_to('ルームトップ', room_path) %></li>
      <li>
        <% interval =  %>
        <% if @show_new_icon %>
          <%= link_to('更新履歴', room_history_path, {class: "new_icon"}) %>
        <% else %>
          <%= link_to('更新履歴', room_history_path) %>
        <% end %>
      </li>
      <li><%= link_to('ランキング', room_ranking_path) %></li>
      <li><%= link_to('個人成績', room_playerscored_path) %></li>
    </ul><!--nav-->
    </div><!--gnav-->

    <%= yield %>
    <hr id="page_end">

    <div class="room_footer">
      <div>
        <%= link_to '[戻る]', :back %>
        <%= link_to_unless_current '[ルームトップへ]', room_path %>
      </div>
      <div>
      <%= link_to '[ルームアウト]', top_path %>
      </div>
    </div>
  </body>
</html>
